body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f2f2f2; */
  /* background-image: url(Audi_main-1.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  color: #fff;

}

.container {
  background-color: #222;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
  
}

.car-image {
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.car-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust transparency */
}

.car-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}


.car-description {
  transition: transform 0.3s ease-in-out;

  width: 50%;
  padding: 30px;
  background-color: #111;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;


  display: flex;
  flex-direction: column;
}

.car-description h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.car-description p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.car-description ul {
  padding: 0;
  list-style: none;
}

.car-description li {
  margin-bottom: 5px;
  font-weight: bold;
}

.button {
  background-color: #555;
  border: 1px solid #fff;
  display: inline-block;
  padding: 10px 20px;
  /* background-color: #333; */
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #444;
}

.car-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.car-image:hover img {
  transform: translateY(-10px);
}


.car-image:hover img,
.car-image:hover+.car-description {
  /* Target both image and description on hover */
  transform: translateY(-10px);
}
.thumbnail-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: -10px;
  margin-left: -20px;

}
.names
{
  margin-left: -40px;
}

.thumbnail-container img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.thumbnail-container img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

